<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/main.css') }}">
    <script src="{{ url_for('static', filename='scripts/index.js') }}" type="text/babel"></script>
</head>
<body>
<div class="testingThis">Hello</div>
<form action="/post" method="post" target="output">
    <label>
        Enter your prompt here.
        <input type="text" name="prompt">
    </label>
    <input type="submit">
</form>
<br>
<br>
<iframe name="output" width="100%" height="1000px"></iframe>
</body>
</html>